.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  position: relative; /* Menambahkan posisi relatif untuk kontainer kartu */
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

.card p {
  margin-top: 10px;
}

.buy-button {
  position: absolute; /* Mengatur posisi tombol secara absolut */
  left: 50%; /* Mengatur tombol di tengah horizontal */
  bottom: 20px; /* Mengatur jarak dari bawah */
  transform: translateX(-50%); /* Menggeser tombol ke kiri sebesar 50% lebar tombol */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}
