.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  position: relative; /* Tambahkan posisi relatif pada .container */
}

.card {
  position: relative; /* Tambahkan posisi relatif pada .card */
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.buy-button {
  /* Hapus properti position: absolute */
  /* Tambahkan posisi absolut untuk tombol */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}

/* Media queries untuk responsif di berbagai perangkat */
@media (max-width: 768px) {
  .container {
    margin-top: 30px;
  }

  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
    width: calc(100% - 20px);
  }
}
