.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  position: relative; /* Menjadikan posisi tombol absolute relatif terhadap kartu */
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

.card p {
  margin-top: 10px;
}

.buy-button {
  position: absolute; /* Mengatur posisi tombol */
  bottom: 20px; /* Mengatur jarak dari bawah */
  left: 50%; /* Mengatur posisi horizontal di tengah */
  transform: translateX(-50%); /* Menggeser tombol sejauh setengah lebar tombol ke kiri */
  padding: 10px 20px;
  background-color: #007bff; /* Warna latar belakang */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3; /* Warna latar belakang saat digulir */
}

/* Media queries untuk responsif di berbagai perangkat */
@media (max-width: 768px) {
  .container {
    margin-top: 30px;
  }

  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
    width: calc(100% - 20px);
  }
}
